{{#each this}}
  <li class='card'>
    <div>
      <img
        src='https://image.tmdb.org/t/p/w300{{poster_path}}'
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
        alt='{{title}}'
        data-action='{{id}}'
      />
      <h2 class='card__title'>{{title}}</h2>
      <p class='card__text'>
        <span>{{#each genres}} {{name}} {{/each}}</span>
        |
        <span>{{release_date}}</span>
      </p>
    </div>
  </li>
{{/each}}