<div class='modal-card modal__content'>
  <button class='modal__close-btn js-modal__dev-close-btn'>
    <svg class='modal__close-icon' width='30' height='30'>
      <use href='./images/symbol-defs.svg#close-icon'></use>
    </svg>
  </button>
  <div class='cardItem__image'>
    <img
      class='image'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
      class='image js-image'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      data-action='{{id}}'
    />
  </div>

  <div class='cardItem__wrapper'>
    <h2 class='cardItem__name'>{{title}}</h2>

    <div class='cadrItem__item'>
      <ul class='cadrItem__list cardItem_text'>
        <li class='cadrItem__vote'>Vote / Votes</li>
        <li class='cardItem__popularity'>Popularity</li>
        <li class='cardItem-title'>Original Title</li>
        <li class='cardItem__genre'>Genre</li>
      </ul>

      <ul class='cadrItem__list cardItem__descr'>
        <li class='cadrItem__vote'>
          <span class='cardItem__vote_average'>{{vote_average}}</span>/
          <span class='cardItem__vote_count'>{{vote_count}}</span>
        </li>
        <li class='cardItem__popularity cardItem___data'>{{popularity}}</li>
        <li class='cardItem__orig-title cardItem__title_data'>{{original_title}}</li>
        <li class='cardItem__genre cardItem__genreList'>
          {{#each genres}}
            <span class='cardItem__genre_data'>{{this.name}}</span>
          {{/each}}
        </li>
      </ul>
    </div>

    <h3 class='cardItem__about'>About</h3>
    <p class='cardItem__description'>{{overview}}</p>

    <div class='cardItem__listButton'>
      <button class='cardItem__button js-addWatched'>Add to watched</button>
      <button class='cardItem__button js-addQueue'>Add to queue</button>
    </div>
  </div>

</div>