{{#each this}}
  <li class='library-card' data-action='{{id}}'>
    <div>
      <img src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt='{{title}}' />
      <h2 class='library-card__title'>{{title}}</h2>
      <p class='library-card__text'>
        <span>{{#each genres}} {{name}} {{/each}}</span>
        |
        <span>{{release_date}}</span>
      </p>
      <span class='library-card__vote_average'>{{vote_average}}</span>
    </div>
  </li>
{{/each}}